<div class="card mx-auto" style="max-width: 35rem; margin-top: 30px">
    <div class="card-header">
    Post article
    </div>
    <div class="card-body">
        <%= form_for(@post,  html: { multipart: true }) do |f| %>
            <div class="form-group">
                <label>Name</label>
                <div>
                    <%= f.text_field(:name,  { autofocus: true, class: 'form-control', placeholder: 'Name'}) %>
                </div>
            </div>

            <div class="form-group">
                <label>Content</label>
                <div>
                    <%= f.text_area(:content,  { autofocus: true, class: 'form-control'}) %>
                </div>
            </div>

            <div class="form-group">
               <%= f.fields_for :photos do |c| %>
                 <%= c.file_field :avatar , as: :file %>
               <% end %>
            </div>            
        
            <div class='actions'>
            <%= f.submit 'Submit' %>
            </div>                
        <% end %>
    </div>
</div>